/* common */
body {
  font-family: sans-serif;
  background: url(../images/drink-stand.jpg) no-repeat;
  background-size: cover;
}

h1 {
  color: #4caf50;
  text-align: center;
  font-size: 2em;
  margin-top: 0;
}

select,
button {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 1.5rem;
}

button:hover {
  background-color: #45a049;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form-box {
  background-color: #f9f9f9;
  padding: 2.5rem 3rem;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}
/* label title */
.title {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form .title:nth-of-type(4) {
  margin-bottom: 1rem;
}

/* modal and background layer */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 70%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-sizing: border-box;
  margin: 0 auto;
}

.modal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

/* for the modal that is open */
.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
}

/* for the modal that is closed */
.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2em;
  border-radius: 50%;
  cursor: pointer;
}

.modal-content {
  background: #fff;
  text-align: left;
  padding: 3rem 4rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.modal-content > div {
  width: 50%;
}

.modal-content div {
  font-size: 1.2em;
}
.modal-content img {
  width: 80%;
}
.modal-content h2 {
  color: #4caf50;
  font-size: 2.5em;
  margin-top: 0;
}

.modal-content #details {
  margin-bottom: 1em;
}

.modal-content p {
  margin: 0;
}

.modal-content .add-icons {
  display: flex;
  width: 100%;
}
.modal-content .add-icons img {
  width: 40px;
}

.modal-content .hidden {
  display: none;
}
.modal-content .show {
  display: block;
}

#progressPic img {
  border-radius: 2rem;
}
